<h1>Listing tags</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Photo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.key %></td>
        <td><%= tag.value %></td>
        <td><%= tag.photo_id %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Photos', photos_path %>
