
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Please Sign In</h2>
  <%= f.email_field :email, :autofocus => true, class: "input-block-level", placeholder: "Email Address" %>
  <%= f.password_field :password,  class: "input-block-level", placeholder: "Password"  %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %><%= f.label :remember_me, class: "checkbox inline" %>
  <% end -%>

  <div><%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %></div>
  <%= render "devise/shared/links" %>

<% end %>

