<h1>PhotoTag Gallery</h1>
<table>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.title %></td>
      <td><%= link_to(image_tag(photo.image_url), photo_path(photo)) %>
    </tr>
  <% end %>
</table>
<% if user_signed_in? %>
<%= link_to "Upload New Photo", new_user_photo_path(current_user.id) %>
<% end %>
