<h2>Sign Up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-signup"}) do |f| %>
  <fieldset>
    <legend>Create a PhotoTag Gallery Account</legend>
  <%= devise_error_messages! %>
  
  <%= f.text_field :fname, :autofocus => true, :class => "input-block-level", :placeholder => "First Name" %>
  
  <%= f.text_field :lname, :placeholder => "Last Name", :class => "input-block-level" %>

  <%= f.email_field :email, :placeholder => "Email Address", :class => "input-block-level" %>

  <%= f.password_field :password, :placeholder => "Password", :class => "input-block-level" %>

  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "input-block-level" %>

  <div class="form-actions"><%= f.submit "Sign up", class: "btn btn-lg btn-primary"%></div>
  </fieldset>
<% end %>

