<h1>Edit Photo</h1>

<%= render 'form' %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photo.tags.each do |tag| %>
      <tr>
        <td><%= tag.key %></td>
        <td><%= tag.value %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>
