<h1>Your Uploaded Photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <% if photo.user_id == current_user.id %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= link_to(image_tag(photo.image_url), photo_path(photo)) %>
        <td><%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-default" %></td>
        <td><%= button_to 'Delete', photo, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_user_photo_path(current_user.id) %>
