<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>
<p>
  <%= image_tag(@photo.image_url) %>
</p>
<p>
  <table class="table table-condensed">
    <tr>
      <th>Tags</th>
    </tr>
    <% @photo.tags.each do |tag| %>
    <tr>
      <td><%= tag.key %> = <%= tag.value %>=<%= tag.id %></td>
    </tr>
  <% end %>
  </table>
<%#= debug @photo %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Upload Photo', new_user_photo_path(current_user.id) %> |
<%= link_to 'Add Tags', new_photo_tag_path(@photo) %>
