<h1>Search Photos by Tag</h1>
<table>
  <% @results.each do |photo| %>
    <tr>
      <td><%= photo.title %></td>
      <td><%= link_to(image_tag(photo.image_url), photo_path(photo)) %>
    </tr>
  <% end %>
</table>

