<%= form_tag "/tag_search", method: "get", class: "form-signin" do %>
  <h2 class="form-signin-heading">Search Photos by Tag</h2>
  <%= text_field_tag :key, params[:key], :autofocus => true, class: "input-block-level", placeholder: "Key" %>
  <%= text_field_tag :value, params[:value], class: "input-block-level", placeholder: "Value"  %>
  <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="icon-search"></i>Search</button>

<% end %>

